:host {
  display: block;
}

#foundation-header-primary-partners-carousel {
  display: none;
}

#foundation-header-primary-partners {
  @media (min-width: 1024px) {
    display: flex;
  }
}

#foundation-header-primary-partners-carousel-viewport {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
